* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: black;
}
body.dark{
    background-color: black;
    color: white;
}
header h1 {
    padding: 0.8rem 0;
    text-align: center;
    border-bottom: 2px solid black;
}

header h1.dark {
    border-color: white;
    background-color: black;
    color: white;
}

.new-note {
    padding: 2rem;
}

.new-note.dark {
    background-color: black;
    color: white;

}
#title,
#note-input {
    padding: 0.2rem;
    margin: 0 auto;
    width: 90%;
    display: block;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid black;
}
#title.dark, #note-input.dark{
    border-color: white;
    background-color: black;
    color: white;
}

#title {
    border-width: 2px 2px 0px 2px;
}

#note-input {
    border-width: 0px 2px 2px 2px;
}

#add-btn {
    margin: 1rem 5%;
    font-size: 1.2rem;
    padding: 0.2rem;
}

#add-btn.dark {
    border-color: white;
    background-color: black;
    color: white;
}

#notes-list {
    margin: 0 auto;
    padding: 3rem;
    /* width: 90%; */
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

#notes-list.dark{
    background-color: black;
    color: white;
}

.notes {
    padding: 0.8rem;
    min-width: 20%;
    height: 5rem;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}

.notes.dark{
    border-color: white;
}
.notes p {
    font-size: 1.2rem;
}

#add-btn:hover,
.dlt:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

#add-btn.dark:hover, .dlt.dark:hover{
    color: black;
    background-color: white;
}

.dlt {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2rem;
    padding: 0.2rem;
    margin: 0.5rem;
    border: 2px solid black;
}

.dlt.dark{
    border-color: white;
}

.theme-btn{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.8rem;
    font-size: 1.2rem;
    padding: 0.3rem;
}
.theme-btn.dark{
   
    border-color: white;
    background-color: black;
    color: white;
}
.theme-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.theme-btn.dark:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
