*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1{
    padding: 0.8rem 0;
    text-align: center;
    box-shadow: 0px 0px 4px 2px black;
}
.new-note{
    padding: 2rem;
}
#title{
    border-width: 2px 2px 0 2px;
}
#note-input{
    border-width: 0 2px 2px 2px;
}
#title, #note-input{
    padding: 0.2rem;
    margin: 0 auto;
    width: 90%;
    display: block;
    font-size: 1.2rem;
    outline: none;
}
#add-btn{
    margin: 1rem 5%;
    font-size: 1.2rem;
    padding: 0.2rem;
}
#notes-list{
    margin: 0 auto;
    padding: 2rem;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}
.notes{
    padding: 0.8rem;
    min-width: 20%;
    height: 5rem;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}
.notes p{
    font-size: 1.2rem;
}
button:hover, .dlt:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.dlt{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2rem;
    padding: 0.2rem;
    margin: 0.5rem;
    border: 2px solid black;
}
